:root {
  --transition: 0.6s;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  min-width: 100vw;
}

body {
  background: #e5ecf6;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: #243046;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 350pt;
  position: relative;
}

h1 {
  font-size: 2.8em;
  text-align: center;
}

h5 {
  font-weight: 500;
  font-size: 2.8em;
}

h6 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
}

.details {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details p {
  font-size: 2em;
  font-weight: 500;
}

.details span {
  font-weight: 700;
  font-size: 4.8em;
  line-height: 0.5em;
}

.container {
  /* max-width: inherit; */
  background: linear-gradient(
    135deg,
    rgba(217, 231, 247, 0.1) 10%,
    rgba(177, 192, 212, 0.3) 100%
  );
  box-shadow: 2px 2px 5px rgba(46, 54, 68, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em;
  border-radius: 2em;
}

form {
  text-align: center;
  font-size: 0.9em;
  position: relative;
  max-width: 250px;
}

input[type="text"] {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.2em;
  width: 100%;
  height: 40px;
  background: transparent;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

input[type="text"]::placeholder {
  text-align: center;
  color: inherit;
}

input[type="text"]:focus {
  outline: none;
  text-align: center;
}

.inp-effect {
  border: 0;
  border-bottom: 1px solid #313c50;
}

.inp-effect ~ .border-effect {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #e5ecf6;
  transition: 0.5s;
}

.effect-box {
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  border: 0;
  border-bottom: 1px solid #313c50;
}

a ~ .border-effect {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #e5ecf6;
  transition: var(--transition);
}

a:hover ~ .border-effect {
  width: 100%;
  transition: var(--transition);
  left: 0;
}

.inp-effect:focus ~ .border-effect {
  width: 100%;
  transition: var(--transition);
  left: 0;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em;
}

.info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30pt 30pt;
  border-radius: 2em;
  -webkit-backdrop-filter: saturate(1.2) blur(4px);
  backdrop-filter: saturate(1.2) blur(4px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 5px 5px 10px rgba(46, 54, 68, 0.1);
}

.invisible {
  opacity: 0;
  transition: opacity var(--transition) ease-in-out;
}

.visible {
  opacity: 1;
}

.card .visible {
  transition: opacity var(--transition) ease-in-out;
}

.glass {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 300ms ease;
}

@media (pointer: fine) {
  .glass:hover {
    transform: scale(1.1) perspective(1500px) rotateY(5deg);
    transition: transform 300ms ease;
  }
}

.icon {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 30pt;
  right: 30pt;
  background: linear-gradient(
    135deg,
    rgb(159, 176, 196, 0.4) 10%,
    rgba(103, 122, 148, 0.6) 100%
  );
  border-radius: 50%;
}

.icon-night {
  filter: invert(1);
}

.day-bg {
  background-color: #e5ecf6;
  transition: background-color var(--transition) ease-in-out;
}

.night-bg {
  background-color: #313c50;
  transition: background-color var(--transition) ease-in-out;
  color: #e5ecf6;
}

.copyright-container {
  /* position: absolute; */
  width: 100%;
  max-width: 320pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 18pt;
  top: auto;
  transition: transform var(--transition) linear;
  font-size: 0.8em;
  margin: 0 auto;
  /* opacity: 0; */
  transform: translateY(-35px);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  opacity: 0.7;
  margin-top: 5px;
}

button:focus {
  outline: none;
}

.copyright-content {
  width: inherit;
  background: linear-gradient(
    135deg,
    rgba(177, 192, 212, 0.3) 10%,
    rgba(217, 231, 247, 0.1) 100%
  );
  box-shadow: 2px 2px 5px rgba(46, 54, 68, 0.1);
  border-radius: 1.5em;
  padding: 1em;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 0 auto; */
  opacity: 0;
  transition: transform var(--transition) linear,
    opacity var(--transition) linear;
}

.copyright-container.slide-down > .copyright-content {
  opacity: 1;
}

.copyright-container.slide-down {
  /* bottom: -26pt; */
  transform: translateY(15px);
  opacity: 1;
  transition: transform var(--transition) linear,
    opacity var(--transition) linear;
}

@media (max-width: 600px) {
  * {
    font-size: 12px;
  }

  main {
    padding: 2%;
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: 5vh auto;
  }

  .card {
    flex: 1 1 auto;
  }

  .info {
    padding: 20pt 20pt;
  }

  .icon {
    width: 70px;
    height: 70px;
    bottom: 25pt;
    right: 20pt;
  }
}

@media (max-width: 376px) {
  * {
    font-size: 10px;
  }

  main {
    max-width: unset;
  }
}
